<h2>A Shortage? Report it!</h2>

<form method='POST' action='/add'> 
    <div class='input'>Location  <select name='number'>

        <option value="01WP">1 Washington Place, 4th floor accessible restroom</option>
        <option value="60FA">60 Fifth Avenue, lower level women's restroom</option>
        <option value="721B">721 Broadway, 2nd floor gender neutral restroom</option>
        <option value="BARN">Barney Building, 4th floor gender neutral restroom</option>
        <option value="BOBS">Bobst Library, LL2 gender neutral restroom</option>
        <option value="KIMM">Kimmel Center, 7th floor women's restroom</option>
        <option value="SHIM">Shimkin Hall, lobby gender neutral restroom</option>
        <option value="WAVE">Waverly Building, 10th floor women's restroom</option>
        <option value="PUCk">Puck Building, 2nd floor women's restroom</option>

        <option value="RGS1">[Brooklyn] Rogers Hall, 1st floor women's restroom</option>
        <option value="RGS2">[Brooklyn] Rogers Hall, 2nd floor women's restroom</option>
        
        
        <option value="CMEP">Center for Multicultural Education and Programs, Kimmel 8th floor</option>
        <option value="C4SL">Center for Student Life, Kimmel 2nd floor and 7th floor</option>


        <option value="SHPO">Health Promotion Office, 726 Broadway 4th floor</option>
        <option value="LDSP">Leadership Initiative, 12 Washington Place</option>
        <option value="LGBT">LGBTQ Student Center, Kimmel 6th floor</option>
        <option value="DIBN">[Brooklyn] Student Activities & Resource Center, Dibner LC223</option>
        <option value="RGSL">[Brooklyn] Student Health Center, Rogers Hall Lower Level B020</option>


    </select></div>
    <div class='input'>item  <select name='semester'>
        <option value="pad">pad</option>
        <option value="tampon">tampon</option>
        <option value="both">both</option>
    </select></div>
    <div class='input'>message  <input type='text' name='name'></div>
    <div><input type='submit' value='submit'></div>
</form>




