<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css" />
        <title>Menstrual Hygiene @ NYU</title>
    </head>

    <body>
        <header>
            <nav id="top-nav">
                <a href="/user"><img id='user' src="/img/user.png"></a>       
            </nav>
            <h1>Menstrual Hygiene @ NYU</h1>
            <nav id="menu-nav">
                <a href="/">Find</a>                |                          
                <a href="/add">Report</a>               |                   
                <a href="/explore">Explore</a>   
            </nav>
        </header>
        {{{body}}}
    </body>
</html>
