<h2>My Reports</h2>

<table>
  <tr>
    <th>Location</th>
    <th>Item</th>
    <th>Message</th>
  </tr>
  {{#each reviews}}
  <tr>
    <td>{{location}}</td>
    <td>{{item}}</td>
    <td>{{message}}</td>
  </tr>
  {{/each}}
</table> 