<h2>See all locations</h2>

<table>
  <tr>
    <th>name</th>  
    <th>type</th>
    <th>campus</th>
    <th>item</th>
  </tr>
  {{#each locations}}
  <tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{campus}}</td>
    <td>{{item}}</td>
  </tr>
  {{/each}}
</table> 